env:
  database: "off"

ingressController:
  enabled: true

proxy:
  type: NodePort

admin:
  enabled: true
  type: ClusterIP

manager:
  enabled: true
  type: NodePort
  
resources:
  requests:
    cpu: 100m
    memory: 256Mi
